# Configuración de MariaDB
mariadb_host=127.0.0.1
mariadb_port=3306
mariadb_user=tu_usuario
mariadb_password=tu_contraseña
mariadb_database=tu_base_de_datos

# Configuración de MongoDB
mongodb_host=127.0.0.1
mongodb_port=27017
mongodb_database=tu_base_de_datos
mongodb_collection=tu_colección
